@model EpiserverTraining.Models.ViewModels.BlogListingPageViewModel
@{
    ViewBag.Title = "Index";
}

<h2>@Html.PropertyFor(x => x.PageTitle)</h2>
<p>@Html.PropertyFor(x => x.MainBody)</p>
<div>
    @*@foreach(var blogPage in Model.blogPages)
        {
            <h5>@blogPage.BlogPageTitle</h5>
            <img src=" @Url.ContentUrl(blogPage.HeaderImage)" alt="Header Image" />
            <a href="@blogPage.Url">Go to Page</a>
        }*@

</div>
<hr />
<div class="row">
    @foreach (var blogPage in Model.blogPages)
    {
        <div class="col-6 mb-4">
            <div class="card">
                <div class="card-body">

                    <div style="height: 200px; overflow: hidden;">
                        <img src="@Url.ContentUrl(blogPage.HeaderImage)" style="object-fit: cover; width: 100%; height: 100%;" alt="Header Image">
                    </div>
                    <br />
                    
                    <h5 class="card-title">@blogPage.BlogPageTitle</h5>
                    <p class="card-text">@blogPage.BlogPageContentText ....</p>
                    <a href="@blogPage.Url" class="btn btn-primary">Go to Page</a>
                </div>
            </div>
        </div>
    }
</div>

