@model EpiserverTraining.Models.ViewModels.NavbarMenuViewModel
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    @foreach (var nav in Model.MainNavigation)
    {
        if (nav.SubNavigation != null && nav.SubNavigation.Count > 0)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="@nav.Id" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @nav.Name
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @foreach (var subNav in nav.SubNavigation)
                    {
                        <li><a class="dropdown-item" href="@subNav.Url">@subNav.Name</a></li>
                    }

                    @*<li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>*@
                </ul>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="@nav.Url">@nav.Name</a>
            </li>
        }
    }


    @*<li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>

    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>*@
</ul>